/* About Style Css */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 90%;
    margin-inline: auto;
    transition: all 0.3s linear;
}

@media screen and (min-width: 1200px) {
    .container {
        width: 80%;
        margin-inline: auto;
        transition: all 0.3s linear;
    }
}

.navbar {
    padding: 5px 0;
    padding-bottom: 20px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    transition: all 0.3s ease;
    background-color: gainsboro;
}

.navbar.scrolling-active {
    background-color: white;
    padding-bottom: 20px;
}

.navbar.scrolling-active .box-navbar .brand h1 {
    color: black;
}

.navbar.scrolling-active .box-navbar .navigation ul li a {
    color: black;
}

.navbar.scrolling-active .box-navbar .navigation ul li i {
    color: black;
}

.navbar .box-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.navbar .box-navbar .brand h1 {
    font-size: 40px;
    color: white;
}

.navbar .box-navbar .navigation ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar .box-navbar .navigation ul li {
    list-style-type: none;
    transition: all 0.2s ease;
}

.navbar .box-navbar .navigation ul li input:hover {
    transform: scale(1.1);
}

.navbar .box-navbar .navigation ul li a {
    padding-right: 10px;
    justify-content: center;
}

.navbar .box-navbar .navigation ul li:hover a {
    color: orange;
}

.navbar .box-navbar .navigation ul li #fb  {
    margin-left: 90px;
}

.navbar .box-navbar .navigation ul li i  {
    padding: 20px;
    cursor: pointer;
}

.navbar .box-navbar .navigation ul li i:hover  {
    color: orange;
}

.navbar .box-navbar .navigation ul li input {
    padding: 10px 30px 10px 30px;
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    transition: 0.5s ease;
    cursor: pointer;
}

.navbar .box-navbar .navigation ul li input:hover {
    background-color: black;
}

.navbar .box-navbar .navigation ul li a, i {
    text-decoration: none;
    color: white;
}

.navbar .box-navbar i.ri-menu-line {
    display: none;
}

.navbar .box-navbar .navigation ul li i.ri-menu-line {
    display: none;
}

@media screen and (max-width: 990px) {
    .navbar .box-navbar i.ri-menu-line {
        color: black;
        display: block;
        cursor: pointer;
        font-size: 28px;
    }

    .navbar {
        background-color: white;
    }

    .navbar .box-navbar .brand h1 {
        color: black;
    }

    .navbar .box-navbar .navigation ul {
        background-color: white;
        position: absolute;
        right: 0;
        top: 0;
        height: 0%;
        color: transparent;
        left: 0;
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        padding-top: 30px;
        padding-bottom: 30px;
        transition: 0.5s ease;
        gap: 20px;
        opacity: 0;
    }

    .navbar .box-navbar .navigation.menu-active ul {
        background-color: white;
        right: 0;
        top: 0;
        left: 0;
        height: 400px;
        opacity: 1;
    }

    .navbar .box-navbar .navigation ul li a {
        color: black;
    }

    .navbar .box-navbar .navigation ul li a:hover {
        color: red;
    }

    .navbar .box-navbar .navigation ul li i:hover {
        color: red;
    }

    .navbar .box-navbar .navigation ul li #fb {
        margin: 0;
    }

    .navbar .box-navbar .navigation ul li i {
        color: black;
    }
}

/* About */

.about {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    justify-content: center;
    padding: 13% 8% 0;
}

.lorem {
    line-height: 1.3;
}

.lorem .circle {
    display: flex;
    gap: 5px;
    margin-top: 6px;
}

.lorem .circle1 {
    padding: 4px;
    background-color: gainsboro;
    border-radius: 90px;
    width: 1px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
}

.lorem .circle2 {
    padding: 4px;
    background-color: gainsboro;
    border-radius: 90px;
    width: 1px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
}

.lorem .circle3 {
    padding: 4px;
    background-color: gainsboro;
    border-radius: 90px;
    width: 1px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
}

.lorem h2 {
    font-weight: 500;
    margin-bottom: 10px;
}

.lorem h1 {
    margin-bottom: 20px;
}


.lorem p {
    margin-bottom: 15px;
    line-height: 1.8;
}

/* Statistic */

.statistic {
    width: 90%;
}

.statistic h4 {
    margin-bottom: 10px;
    font-weight: 600;
}

.statistic div {
    display: flex;
    justify-content: space-between;
}

.statistic hr {
    padding: 1px;
    background-color: black;
    margin-bottom: 30px;
}

.statistic .hr1 {
    width: 85%;
}


.statistic .hr2 {
    width: 90%;
}


.statistic .hr3 {
    width: 75%;
}

.statistic .hr4 {
    width: 80%;
}

/* Img - About */

img {
    /* margin: -50px -100px 0 0;  */
    width: 400px;
    align-items: flex-end;
}

/* Responsive */

@media screen and (max-width: 700px) {
    .about {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .statistic {
        width: 100%;
    }

}