@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 90%;
    margin-inline: auto;
    transition: all 0.3s linear;
}

@media screen and (min-width: 1200px) {
    .container {
        width: 80%;
        margin-inline: auto;
        transition: all 0.3s linear;
    }
}

.navbar {
    padding: 5px 0;
    padding-bottom: 20px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    transition: all 0.3s ease;
    background-color: transparent;
}

.navbar.scrolling-active {
    background-color: white;
    padding-bottom: 20px;
}

.navbar.scrolling-active .box-navbar .brand h1 {
    color: black;
}

.navbar.scrolling-active .box-navbar .navigation ul li a {
    color: black;
}

.navbar.scrolling-active .box-navbar .navigation ul li i {
    color: black;
}

.navbar .box-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.navbar .box-navbar .brand h1 {
    font-size: 40px;
    color: white;
}

.navbar .box-navbar .navigation ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar .box-navbar .navigation ul li {
    list-style-type: none;
    transition: all 0.2s ease;
}

.navbar .box-navbar .navigation ul li input:hover {
    transform: scale(1.1);
}

.navbar .box-navbar .navigation ul li a {
    padding-right: 10px;
    justify-content: center;
}

.navbar .box-navbar .navigation ul li:hover a {
    color: orange;
}

.navbar .box-navbar .navigation ul li #fb  {
    margin-left: 90px;
}

.navbar .box-navbar .navigation ul li i  {
    padding: 0;
    cursor: pointer;
}

.navbar .box-navbar .navigation ul li i:hover  {
    color: orange;
}

.navbar .box-navbar .navigation ul li input {
    padding: 10px 30px 10px 30px;
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    transition: 0.5s ease;
    cursor: pointer;
}

.navbar .box-navbar .navigation ul li input:hover {
    background-color: black;
}

.navbar .box-navbar .navigation ul li a, i {
    text-decoration: none;
    color: white;
}

.navbar .box-navbar i.ri-menu-line {
    display: none;
}

.navbar .box-navbar .navigation ul li i.ri-menu-line {
    display: none;
}

/* hero style */
.hero {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background:  linear-gradient(90deg, rgba(5,117,230,0.7) 19%, rgba(0,242,96,0.7) 58%), url('/images/home-bg.jpg'), fixed;
    background-size: 1540px;
    background-position: center;
}

.hero .box-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    align-items: center;
}

.hero .box-hero .box:nth-child(1) h1 {
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: white;
}

.hero .box-hero .box:nth-child(1) .opsi {
    display: flex;
    align-items: center;
}

.hero .box-hero .box:nth-child(1) p {
    font-size: 14px;
    line-height: 1.5;
    padding-left: 10px;
    color: white;
}

.hero .box-hero .box:nth-child(1) button {
    padding: 15px 40px;
    font-weight: bold;
    border: 1px solid white;
    font-size: 16px;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.hero .box-hero .box:nth-child(1) p {
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.hero .box-hero .box:nth-child(1) button:hover {
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
}

.hero .box-hero .box:nth-child(1) .btn {
    color: white;
}

.hero .box-hero .box:nth-child(2) iframe {
    width: 100%;
    border-radius: 10px;
}

/* Footer */
.footer {
    background-color: black;
    color: white;
}

.footer .box-footer .atas {
    padding: 50px 0;
}

.footer .box-footer .atas ul li {
    list-style-type: none;
    text-align: left;
    font-size: 13px;
}

.footer .box-footer .atas p {
    font-size: 13px;
    padding-bottom: 25px;
}

.footer .box-footer .atas .hc p {
    padding-top: 15px;
    width: 95%;
}

.footer .box-footer .atas .service {
    padding-bottom: 10px;
}

.footer .box-footer .atas .company {
    padding-top: 10px;
}

.footer .box-footer .atas .find {
    padding-bottom: 10px;
}

.footer .box-footer hr {
    opacity: 0.1;
}

.footer .box-footer .bawah {
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer .box-footer .bawah .icon i {
    padding: 10px;
}

@media screen and (max-width: 990px) {
    .hero {
        padding-top: 100px;
    }

    .hero .box-hero {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .hero .box-hero .box:nth-child(1) {
        order: 1;
        text-align: center;
    }
    
    .hero .box-hero .box:nth-child(1) .opsi {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hero .box-hero .box:nth-child(1) p {
        font-size: 10px;
        text-align: center;
        line-height: 1.5;
        color: white;
        padding-top: 10px;
    }

    .hero .box-hero .box:nth-child(1) button {
        border: 1px solid white;
        font-size: 16px;
        background-color: transparent;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    
    .hero .box-hero .box:nth-child(1) h1 {
        font-size: 48px;
    }

    .hero .box-hero .box:nth-child(2) {
        order: 2;
        text-align: center;
    }

    .hero .box-hero .box:nth-child(2) iframe {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        padding-top: 0;
    }

    .hero .box-hero {
        row-gap: 30px;
    }

    .hero .box-hero .box:nth-child(1) {
        font-size: 42px;
    }

    .hero .box-hero .box:nth-child(2) iframe {
        width: 400px;
    }
}

@media screen and (max-width: 575px) {
    .hero .box-hero .box:nth-child(1) h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 475px) {
    .hero {
        padding-top: 0;
    }

    .hero .box-hero {
        gap: 30px;
    }

    .hero .box-hero .box:nth-child(1) h1 {
        font-size: 28px;
    }

    .hero .box-hero .box:nth-child(1) button {
        margin-bottom: 10px;
    }

    .hero .box-hero .box:nth-child(2) {
        align-self: flex-end;
    }

    .hero .box-hero .box:nth-child(2) iframe {
        width: 100%;
    }
}

@media screen and (max-width: 370px) {
    .hero {
        padding-top: 100px;
    }

    .hero .box-hero {
        grid-template-rows: repeat(2, auto);
    }

    .hero .box-hero .box:nth-child(1) h1 {
        font-size: 24px;
    }

    .hero .box-hero .box:nth-child(1) p {
        font-size: 14px;
    }
}